*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  font-family: "Roboto", sans-serif;
  background-color: #2d3e50;
  padding: 2rem 6rem 2rem 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbarList {
  display: flex;
  gap: 2.2rem;
  list-style: none;
  font-size: 1rem;
  font-weight: bold;

}

.navbarLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}